/* body {
  background-color: #d0e4fe;
}

h1 {
  color: orange;
  text-align: center;
}

p {
  font-family: "Courier New";
  font-size: 30px;
} */

.jumbotron {
  background: #826180;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

.message-input {
  display: inline;
  width: 70%;
}

.message-submit {
  width: 100px;
}

.posted-messages {
  padding-top: 25px;
}

  .single-message {
    border-radius: 25px;
    border: 2px solid #333;
    padding: 20px;
    margin-top: 25px;
  }